<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>EZConnects MarketPlace</title>
    <link rel="icon" type="image/x-icon" href="static/images/logos/EZClogo.png" />
        <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

 {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}


</head>
 <body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-purple fixed-top" id="mainNav">
        <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/"><img src="static/images/logos/EZClogo.png" alt="" /></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    EZConnects
                    <i class="fas fa-bars ml-1">EZConnects</i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About Us</a></li>

                        {% if ((current_user.is_authenticated) and (current_user.role == "influencer")) %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/claimedpromotion">Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/socialmedia">Social Media</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/promotions">Promotions</a></li>
                        
                        {% elif ((current_user.is_authenticated) and (current_user.role == "business")) %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/dashboard">Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/promotions">Promotions</a></li>

                        {% else %}

                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/user_login">Login</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/register">Register</a></li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>


    {% block content %} {% endblock %}





        
        <!-- Portfolio Modals-->
        <!-- Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text">Instagram</h2>
                                    <p class="item-intro text-muted">Capture the Moment</p>
                                    <img class="img-fluid d-block mx-auto" src="static/images/portfolio/IGOFFICE.jpg" alt="" />
                                    <p> </p>
                                    <ul class="list-inline">
                                        <li>Instagram</li>
                                        <li>Capture the Moment</li>
                                        <li>Connect with EZConnects</li>
                                    </ul>
                                    <button class="btn btn-purple" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        HOME
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text">Facebook</h2>
                                    <p class="item-intro text-muted">Let People Learn More About You</p>
                                    <img class="img-fluid d-block mx-auto" src="static/images/portfolio/fbhq.jpg" alt="" />
                                    <p> </p>
                                    <ul class="list-inline">
                                        <li>Facebook</li>
                                        <li>Let People Learn More About You</li>
                                        <li>Connect with EZConnects</li>
                                    </ul>
                                    <button class="btn btn-purple" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        HOME
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text">TikTok</h2>
                                    <p class="item-intro text-muted">Share Videos</p>
                                    <img class="img-fluid d-block mx-auto" src="static/images/portfolio/tthq.jpg" alt="" />
                                    <p> </p>
                                    <ul class="list-inline">
                                        <li>TikTok</li>
                                        <li>Share Videos</li>
                                        <li>Connect with EZConnects</li>
                                    </ul>
                                    <button class="btn btn-purple" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        HOME
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text">Search</h2>
                                    <p class="item-intro text-muted">Learn How to Find Promotions</p>
                                    <img class="img-fluid d-block mx-auto" src="static/images/portfolio/search.jpg" alt="" />
                                    <p> </p>
                                    <ul class="list-inline">
                                        <li>Search</li>
                                        <li>Learn How to Find Promotions</li>
                                        <li>Connect with EZConnects</li>
                                    </ul>
                                    <button class="btn btn-purple" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        HOME
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text">Promotions</h2>
                                    <p class="item-intro text-muted">Learn How to Claim Promotions</p>
                                    <img class="img-fluid d-block mx-auto" src="static/images/portfolio/promotions.jpg" alt="" />
                                    <p> </p>
                                    <ul class="list-inline">
                                        <li>Promotions</li>
                                        <li>Learn How to Claim Promotions</li>
                                        <li>Connect with EZConnects</li>
                                    </ul>
                                    <button class="btn btn-purple" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        HOME
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text">Share.Search.Connect!</h2>
                                    <p class="item-intro text-muted">Learn how to Connect with People and Businesses</p>
                                    <img class="img-fluid d-block mx-auto" src="static/images/portfolio/connect.jpg" alt="" />
                                    <p> </p>
                                    <ul class="list-inline">
                                        <li>Share.Search.Connect!</li>
                                        <li>Learn how to Connect with People and Businesses</li>
                                        <li>Connect with EZConnects</li>
                                    </ul>
                                    <button class="btn btn-purple" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        HOME
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Your Website 2020</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-twitter btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-facebook btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-instagram btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" href="#!">Privacy Policy</a>
                        <a href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>

{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

 </body>
</html>